*{
    box-sizing: border-box;
    font-family: monospace;
}
.heading{
    display: block;
    margin: 0 auto;
    width: 40%;
}
.container{
    margin-top: 5em;
}
.row .form{
    width: 50%;

}
.row form{
    display: flex;
}
form .form-group{
    width: 70%;
}
form button{
    margin-left: 2em;
    height: 60%;
}
